extends layout

block content
  header 
    h1= title
    a(href="/new") Post Message
  p Welcome to #{title}
  ul
    each message in messages
      li
        p= message.text 
        p= message.user 
        time= message.added